body {
    font-family: STIXIntegralsD;
    background-color: #38362B;
    margin: 0;
    padding: 0;
}

.title {
    background-color: #38362B;
    font-size: 40px;
    line-height: 12vh;
    color: #EFEF1F;
    margin-top: -10vh;
    margin-left: 15vw;
    padding-top: 50px;
}

.author {
    background-color: BC5104;
    font-size: 20px;
    line-height: 9vh;
    color: #F08E28;
    margin-left: 53vw;
    margin-top: -60px;
}

.poem {
    width: 40vw;
    margin: auto;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
}

.stanza-1 {
    background-color: BC5104 ;
    width: 70vw;
    padding-top: 100px;
    color: white;
    margin-top: -16vh;
    margin-left: -14vw;
}

.fact {
    background-color: BC5104 ;
    width: 30vw;
    padding-top: 100px;
    color: #F08E28;
    margin-top: -10vh;
    margin-left: 0;
}