body {
    font-family: STIXIntegralsD;
    background-color: #BC5104;
    margin: 0;
    padding: 0;
}



.title {
    background-color: #E69B0C;
    font-size: 50px;
    line-height: 12vh;
    margin: 0;
    padding: 0;
    color: #EFEF1F;
    margin-top: -27px;
    margin-left: 12.5vw;
    width: 500vw;
}

.author {
    background-color: BC5104;
    font-size: 30px;
    line-height: 9vh;
    margin: 0;
    padding: 0;
    color: #E5A15C;
    margin-left: 15vw;
    margin-top: -22px;
}

.poem {
    width: 60vw;
    margin: auto;
  
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr;
    grid-gap: 40px;
}

.stanza_1 {
    background-color: BC5104 ;
    height: 86vh;
    padding-right: 10px;
    padding-left: 10px;
    width: 40vw;
    padding-top: 100px;
    color: white;
}

.stanza_2 {
    background-color: BC5104 ;
    height: 86vh;
    padding-right: 10px;
    padding-left: 10px;
    width: 40vw;
    padding-top: 100px;
    color: white;
}

.stanza_3 {
    background-color: BC5104 ;
    height: 86vh;
    padding-right: 10px;
    padding-left: 10px;
    width: 40vw;
    padding-top: 100px;
    color: white;
}

.stanza_4 {
    background-color: BC5104 ;
    height: 86vh;
    padding-right: 10px;
    padding-left: 10px;
    width: 40vw;
    padding-top: 100px;
    color: white;
}

.stanza_5 {
    background-color: BC5104 ;
    height: 86vh;
    padding-right: 10px;
    padding-left: 10px;
    width: 40vw;
    padding-top: 100px;
    color: white;
}

.stanza_6 {
    background-color: BC5104 ;
    height: 86vh;
    padding-right: 10px;
    padding-left: 10px;
    width: 40vw;
    padding-top: 100px;
    color: white;
}

.stanza_7 {
    background-color: BC5104 ;
    height: 86vh;
    padding-right: 10px;
    padding-left: 10px;
    width: 40vw;
    padding-top: 100px;
    color: white;
}

.stanza_8 {
    background-color: BC5104 ;
    height: 86vh;
    padding-right: 10px;
    padding-left: 10px;
    width: 40vw;
    padding-top: 100px;
    color: white;
}

.stanza_9 {
    background-color: BC5104 ;
    height: 86vh;
    padding-right: 10px;
    padding-left: 10px;
    width: 40vw;
    padding-top: 100px;
    color: white;
}



.fact {
    background-color: BC5104 ;
    height: 86vh;
    padding-right: 10px;
    padding-left: 10px;
    width: 40vw;
    padding-top: 100px;
    color: white;
}

@media screen and (max-width: 767px) {
    body {
      background-color: red;
    }
  }

  @media screen and (max-width: 600px) {
    body {
      background-color: darkred;
    }
  }

